In [3]:
library(tidyverse)
library(tidymodels)
library(repr)
library(cowplot)
options(repr.matrix.max.rows = 6)
source('cleanup.R')

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'cleanup.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

Loading players dataset

In [4]:
players_data <- read_csv("https://raw.githubusercontent.com/ansonansonnn/project-data/refs/heads/main/players.csv")
players_data

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            Age
1   30.3         Morgan    Male               9
2    3.8         Christian Male              17
3    0.0         Blake     Male              17
⋮   ⋮            ⋮         ⋮                 ⋮
194 0.0          Dylan     Prefer not to say 57
195 2.3          Harlow    Male              17
196 0.2          Ahmed     Other             NA

Players Dataset but only the variables we need: Experience, Age, Subscription Status

In [5]:
players <- players_data |>
    select(experience, Age, subscribe) |>
    drop_na()
players

    experience Age subscribe
1   Pro         9   TRUE
2   Veteran    17   TRUE
3   Veteran    17  FALSE
⋮   ⋮          ⋮   ⋮
192 Veteran    22  FALSE
193 Amateur    57  FALSE
194 Amateur    17  FALSE

In [2]:
#1) bar plot by experience

experience_plot <- players |>
    ggplot(aes(x = experience, fill = experience))+
    geom_bar(stat = "count")+
    labs(x = "Experience Category",
         y = "Number of Players",
         fill = "Experience Level",
         title = "Number of Players per Experience Level")
experience_plot

#2 distribution (histogram) by age

age_plot <- player_data_select |>
    ggplot(aes(x = Age))+
    geom_histogram()+
    labs(x = "Age ok Players",
         y = "Number of Players",
         title = "Distribution of Ages of Players")
age_plot

#3 bar plot of subsribtion status of players

subscribed_plot <- player_data_select |>
    ggplot(aes(x = subscribe))+
    geom_bar()+
    labs(x = "Subscription Status of Players",
         y = "Number of Players",
         title = "Number of Players Subscribed and not Subscribed")
subscribed_plot

#4 bar plot of subscription status and experience proportion

subscribe_experience_plot <- player_data_select |>
    ggplot(aes(x = experience, fill = subscribe)) +
    geom_bar() +
    labs(x = "Proportion of Players Subscribed and Not Subscribed per Experience Level",
         y = "Number of Players",
         fill = "Subscribed")
subscribe_experience_plot

ERROR: Error in eval(expr, envir, enclos): object 'players' not found